<div class='meme'>
  <h2><%= @meme.name %></h2>
  <a href='/users/<%= @meme.user.id %>/memes'>
    Author: <%= @meme.user.username %>
  </a>
  <a href='<%= @meme.image.url %>'>
    <img src='<%= @meme.image.url %>'/>
  </a>
  <div class='timestamps'>
    <p>Created: <%=  @meme.created_at.localtime.to_formatted_s(:short) %></p>
    <% if @meme.updated_at.to_i > @meme.created_at.to_i %>
      <p>Updated: <%=  @meme.updated_at.localtime.to_formatted_s(:short) %></p>
    <% end %>
  </div>
  <% if @user == current_user && @user.id == @meme.user.id %>
    <div class='edit-delete'>
      <a href='/memes/<%= @meme.id %>/edit' class='link'>
        <div>Edit</div>
      </a>
      <form action='/memes/<%= @meme.id %>' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <input type='submit' class='link' value='Delete'>
      </form>
    </div>
  <% end %>
</div>
