<div class='meme'>
  <h2><%= @meme.name %></h2>
  <a href='/users/<%= @meme.user.id %>'>
    Author: <%= @meme.user.username %>
  </a>
  <div class='likes-comments'>
    <% if !@meme.likes.empty? %>
      <p><%= @meme.likes.count %> like<%= @meme.likes.count > 1 ? 's' : '' %></p>
    <% end %>
    <% if !@meme.comments.empty? %>
      <p><%= @meme.comments.count %> comment<%= @meme.comments.count > 1 ? 's' : '' %></p>
    <% end %>
  </div>
  <a href='<%= @meme.image.url %>'>
    <img src='<%= @meme.image.url %>'/>
  </a>
  <div class='timestamps'>
    <p>Created: <%=  @meme.created_at.localtime.to_formatted_s(:short) %></p>
    <% if @meme.updated_at.to_i > @meme.created_at.to_i %>
      <p>Updated: <%=  @meme.updated_at.localtime.to_formatted_s(:short) %></p>
    <% end %>
  </div>
  <div class='like-edit-delete'>
    <% if signed_in? && !@user.likes.find_by(meme_id: @meme.id) %>
      <form action='/likes' method='POST'>
        <input type='hidden' value='<%= @user.id %>' name='like[user_id]'>
        <input type='hidden' value='<%= @meme.id %>' name='like[meme_id]'>
        <input type='submit' value='Like' class='link like-button'>
      </form>
    <% end %>
    <% if signed_in? && @user.likes.find_by(meme_id: @meme.id) %>
      <form action='/likes/<%= @meme.likes.find_by(user_id: @user.id).id %>' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <input type='hidden' value='<%= @user.id %>' name='like[user_id]'>
        <input type='hidden' value='<%= @meme.id %>' name='like[meme_id]'>
        <input type='submit' value='Unlike' class='link like-button unlike-button'>
      </form>
    <% end %>
    <% if ( @user == current_user && @user.id == @meme.user.id ) || @user.admin %>
        <a href='/memes/<%= @meme.id %>/edit' class='link'>
          <div>Edit</div>
        </a>
        <form action='/memes/<%= @meme.id %>' method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' class='link' value='Delete'>
        </form>
    <% end %>
  </div>
</div>
<h2 class='comments-header'>Comments</h2>
<% if signed_in? %>
  <div class='form-container comment-form-container'>
    <form class='comment-form' action='/comments' method='POST'>
      <input type='hidden' value='<%= @user.id %>' name='comment[user_id]' >
      <input type='hidden' value='<%= @meme.id %>' name='comment[meme_id]' >
      <textarea rows='5' placeholder='Write a comment' name='comment[text]' maxlength='500' required ></textarea>
      <input type='submit' value='Submit' class='submit-button'>
    </form>
  </form>
<% end %>
<% if !@meme.comments.empty? %>
  <div class='comments-container'>
    <% @meme.comments.each do |comment| %>
      <div class='comment'>
        <p><%= comment.user.username %> says:</p>
        <p class='comment-text'><%= comment.text %></p>
        <p> Posted <%= comment.created_at.localtime.to_formatted_s(:short) %></p>
        <% if ( @user == current_user && @user.id == comment.user.id ) || @user.admin %>
          <form action="/comments/<%= comment.id %>" method='POST'>
            <input type='hidden' name='_method' value='DELETE'>
            <input type='submit' value='Delete' class='delete-button'>
          </form>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No comments have been written yet! Be the first!</p>
<% end %>
