<% if signed_in? && current_user&.admin %>
  <a href='/users/<%= @user.id %>/edit'>
    Moderate this account
  </a>
<% end %>
<h2><%= @user.username %></h2>
<% if signed_in? && current_user.id != @user.id && !current_user.followings.find_by_id(@user.id) %>
  <form action='/follows' method='POST'>
    <input type='hidden' name='follow[user_id]' value='<%= @user.id %>'>
    <input type='hidden' name='follow[follower_id]' value='<%= current_user.id %>'>
    <input type='submit' value='Follow' class='link submit-button'>
  <form>
<% end %>
<% if signed_in? && current_user.followings.find_by_id(@user.id) %>
  <form action='/follows/<%= Follow.find_by(follower_id: current_user.id, followed_user_id: @user.id)&.id %>' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='hidden' name='follow[user_id]' value='<%= @user.id %>'>
    <input type='hidden' name='follow[follower_id]' value='<%= current_user.id %>'>
    <input type='submit' value='Unfollow' class='link submit-button'>
  <form>
<% end %>
<div class='user-info'>
  <p>Member since <%=  @user.created_at.localtime.to_formatted_s(:short) %></p>
  <% if !@user.followers.empty? %>
    <p>|</p>
    <a href='/users/<%= @user.id %>/followers'><%= @user.followers.count %> follower<%= @user.followings.count > 1 ? 's' : '' %></a>
  <% end %>
  <% if !@user.followings.empty? %>
    <p>|</p>
    <a href='/users/<%= @user.id %>/following'>Following <%= @user.followings.count %> user<%= @user.followings.count > 1 ? 's' : '' %></a>
  <% end %>
</div>
<h3><%= @user.username %>'s memes</h3>
<% if !@memes&.empty? %>
  <div class='memes-container'>
    <% @memes.reverse.each do |meme| %>
      <a href='/memes/<%= meme.id %>' class='meme-link'>
        <div class='meme'>
          <h2 class='meme-name'><%= meme.name %></h2>
          <div class='likes-comments'>
            <% if !meme.likes.empty? %>
              <p class='likes'><%= meme.likes.count %> like<%= meme.likes.count > 1 ? 's' : '' %></p>
            <% end %>
            <% if !meme.comments.empty? %>
              <p><%= meme.comments.count %> comment<%= meme.comments.count > 1 ? 's' : '' %></p>
            <% end %>
          </div>
          <img src='<%= meme.image.url %>' class='meme-image' />
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <p>There are no memes to display! Create one now at <a href='/memes/new'>the meme creation page!</a></p>
<% end %>
