<h1><%= @user.username %>'s memes</h1>
<% if !@memes&.empty? %>
  <div class='memes-container'>
    <% @memes.each do |meme| %>
      <a href='/users/<%= @user.id %>/memes/<%= meme.id %>' class='meme-link'>
        <div class='meme'>
          <h2 class='meme-name'><%= meme.name %></h3>
          <img src='<%= meme.image.url %>' class='meme-image' />
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <p>You have no memes to display</p>
<% end %>
