<!DOCTYPE html>
  <head>
    <title>Meme Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/sakura.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/tiny-slider.css" />
  </head>
  <body>
    <div id='layout' class='layout'>
      <div class='header'>
        <h1>Meme Generator</h1>
        <nav>
          <a href='/'>
            <div>Home</div>
          </a>
          <a href='/memes'>
            <div>Memes</div>
          </a>
          <% if signed_in? %>
            <a href='/signout'>
              <div>Sign out</div>
            </a>
          <% else %>
            <a href='/signup'>  
              <div>Sign up</div>
            </a>
            <a href='/signin'>
              <div>Sign in</div>
            </a>
          <% end %>
          <% if signed_in? %>
            <a href='/users/<%= current_user.id %>'>
              <div>Account</div>
            </a>
          <% end %>
        </nav>
      </div>
      <% flash.keys.each do |name| %>
        <div class="flash flash-<%= name.to_s %>">
          <div class="flash-close-button" onclick="this.parentElement.remove()">&times;</div>
          <span class=flash-content><%= flash[name] %></span>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <script>
    var flash = document.querySelector('.flash')
    if (flash != null) {
      setTimeout(() => {
        flash.remove()
      }, 3500);
    }
  </script>
  <%= js_custom %>
  <%= js_custom_files %>
</html>
