<% text_array = ['such meme, very generated', 'wow', 'sugoi', 'desu', 'i hope u liek meems', 'i love being a bread doge', 'invest in dogecoin plz', 'kawaii', 'you should have seen v1.0', 'bee doo bee doo bee doo', 'remember to like and follow', 'fresh baked memes 4 u', 'i am a purebread doge', 'is it hot in here cuz im baking', 'contains over 9000 lines of code' ] %>
<% hashtag_array = ['#hashtag', '#haha-funny', '#yoloswag', '#thegame', '#loudproudinthecloud', '#innovation', '#innovatively', '#milleniumedition', '#disruptively', '#amidisruptingyet', '#steamedhamsmemejam', '#tenoutoften', '#zerooutoften', '#invest', '#basedgawd', '#kanyewest', '#2cool5school', '#largeandincharge', '#disruption', '#error404monetizationstrategynotfound', '#pivot2liveit', '#userbased', '#bigipo', '#marketdominance', '#23billiondailyactiveusers', '#engagement', '#brandforward', '#fruitforward', '#brandrecognition', '#impendinglawsuit', '#rightsholder', '#successful', '#contentforward', '#digitalnativity', '#bombdotcom', '#scrum', '#userstory', '#fragiledevelopment'] %>
<!DOCTYPE html>
  <head>
    <title>Meme Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/sakura.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/css/tiny-slider.css" />
  </head>
  <body>
    <div id='layout' class='layout'>
      <div class='header'>
        <div class='doge-div'>
          <img src='/images/doge.png' class='doge'/>
          <div class='speech-bubble'>
            <%= text_array[Random.rand(text_array.length)] %>
          </div>
        </div>
        <h1>Meme Generator</h1>
        <p class='wow'>wow</p>
        <svg width="190" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class='star'>
        <g>
          <polygon transform="rotate(-18.32563591003418 102,81.00000000000001) " points="102,-4 42,166 192,46 12,46 162,166 " fill="#FFea00" id="svg_1"/>
          <text transform="rotate(-7.823710918426514 99.00000000000004,72.40625000000006) " fill="#000000" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="99" y="87.90625" id="svg_3" font-size="48" font-family="Monospace" text-anchor="middle" xml:space="preserve" font-weight="normal">2.0</text>
        </g>
        </svg>
        <div class='hashtags'>
          <%= hashtag_array[rand(hashtag_array.length)] %>
          <br/>
          <%= hashtag_array[rand(hashtag_array.length)] %>
          <br/>
          <%= hashtag_array[rand(hashtag_array.length)] %>
        </div>
        <nav>
          <a href='/'>
            <div>Home</div>
          </a>
          <a href='/memes'>
            <div>Memes</div>
          </a>
          <% if signed_in? %>
            <a href='/signout'>
              <div>Sign out</div>
            </a>
          <% else %>
            <a href='/signup'>  
              <div>Sign up</div>
            </a>
            <a href='/signin'>
              <div>Sign in</div>
            </a>
          <% end %>
          <% if signed_in? %>
            <a href='/users/<%= current_user.id %>'>
              <div>Account</div>
            </a>
          <% end %>
          <% if signed_in? %>
            <p class='account-info'>Signed in as <%= current_user.username %></p>
            <a class='create-meme' href='/memes/new'>Create a meme!</a>
          <% end %>
        </nav>
      </div>
      <% flash.keys.each do |name| %>
        <div class="flash flash-<%= name.to_s %>">
          <div class="flash-close-button" onclick="this.parentElement.remove()">&times;</div>
          <span class=flash-content><%= flash[name] %></span>
        </div>
      <% end %>
      <%= yield %>
      <div class='push'></div>
    </div>
    <div class='footer'>
      <p>Made by Graham Hemsley</p><p>|</p><a href='https://www.github.com/ghemsley' rel='noopener noreferrer' target='_blank'>Github</a><p>|</p><a href='https://www.grahamhemsley.com' rel='noopener noreferrer' target='_blank'>Blog</a>
    </div>
  </body>
  <script>
    var flash = document.querySelector('.flash')
    if (flash != null) {
      setTimeout(() => {
        flash.remove()
      }, 3500);
    }
  </script>
  <%= js_custom %>
  <%= js_custom_files %>
</html>
